@import '../css/variables';
header {
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem 1rem 3rem;
  
}

.gradient-bg {
  background: linear-gradient(40deg, #29377F 0%, #511281 100%);
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  overflow: hidden;
  box-sizing: border-box;
}

header div {
  align-items: center;
  display: flex;
}

header img {
  width: 2rem;
  height: 2rem;
  // margin: 0 0.5rem;
}

header h1{
  color: $secondary-color;
}

.g1{
  
}